body{
    background-image: url(/assets/imgs/fundo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    height: 400px;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}

form input{
    display: block;
    margin: 10px 85px;
}

#login h2{
    color: #8A0048;
    margin-top: 90px;
}

#login input{
    width: 200px;
    padding: 10px;
    border: 0;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 5px;
}

#login button{
    width: 100px;
    padding: 10px;
    background-color: #FF79BC;
    margin: 10px -10px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

#login button:hover{
    width: 120px;
    padding: 15px;
    cursor: pointer;
    transform: scale(1.05)
}