html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: Barricieto;
    background-color: #FAF9F6;
}

header{
    background: linear-gradient(#ff5bad,#FFD6EA,#fff6fa);
    color: black;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

h1{
    color: #8A0048;
}


nav ul{
    display: flex;
    gap: 50px;
    margin-top: 5px;
}

nav ul h3 a{
    color: black;
    list-style: none;
    text-decoration: none;
}

img {
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
    transition: 0.4s ease;
}

img:hover{
    /* width: 320px; */
    transform: scale(1.02);
    cursor: pointer;
    filter: brightness(60%);
}

hr{
    background-color: #8E8E8E;
    height: 1px;   
}

button{
    color: black;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    transition: background-color 0.3s linear, color 0.3s ease;
}
button:hover{
    background-color: #ff5bad;
    color: white;
}

.carrossel {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 25px;
    text-align: center;
}

.carrossel::-webkit-scrollbar{
    display: none;
}

.filmes{
    width: 1400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.filmes h2{
    color: #8A0048;
    margin-top: 80px;
}

footer{
    bottom: 0;
    padding: 50px;
    background: linear-gradient(#fff6fa,#FFD6EA,#ff5bad);
    text-align: center;
}